*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 12px;
}

.precio {
    font-size: 18px;
}

.ultima-visita {
    font-size: 24px;
}

.ofertas {
    font-size: 24px;
}

.descripcion {
    font-size: 16px;
}

.menu {
    font-size: 12px;
}

.cuotas {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.burger-menu {
    text-align: center;
}

footer{
    background-color: #ebebeb;
    color:#666;
}

.pie{
    text-align: center;
}

h3 {
    font-size: 18px;
}