*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.top-header {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.form {
    width: 50%;
    display: flex;
    align-items: center;
    height: 24px;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
    padding: 10px;
    max-width: 300px;
}

.input {
    width: 80%;
}

header .form .input{
    font-size:13px;
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

header .form .submit{
    background-color: #FFF;
    color: #666;
    width: 10%;
}

.menu {
    font-size: 12px;
    display: none;
    width: 100%;
}

header ul li {
    list-style-type: none;
    margin: 10px;
    padding: 2%;
}

header ul li a {
    color: #000;
    text-decoration: none;
}

article div .articulo {
    width: 100%;
    padding: 15px;
}


.ultima-visita h2 {
    font-size: 24px;
}

.ofertas h2 {
    font-size: 24px;
}

.descripcion {
    font-size: 16px;
}


.cuotas {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #0044AA ;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin:0 auto;
}

main section article {
    margin: 10px 0px;
    background-color: #fff;
}

main section article img {
    width: 100%;
}


article div.articulo {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    width: 100%;
}

main section article i, .desc{
    color: #39b54a;
}

main section article i {
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:90%;
    top: -30px;
}

.valor {
    display: flex;
}

.precio {
    font-size: 18px;
    flex-grow: 0.3;
}

.desc {
    font-size: 16px;
    flex-grow: 0.7;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.descripcion {
    font-size: 18px;
    color: #666;
    visibility: hidden;

}


.register form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    max-width: 500px;
}

.login {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    max-width: 500px;
}

.login form {
    width: 100%;
}

.login form div.ingreso input {
    width: 100%;
    margin: 10px 0px;
    border-radius: 5px;
    appearance: button-bevel;
    height: 30px;
}

.datos {
    width: 100%;
}


.boton_enviar {
    border-radius: 30px;
    appearance: button-bevel;
}

.register form div.datos input {
    width: 90%;
    margin: 10px 0px;
    border-radius: 30px;
    appearance: button-bevel;
}

label, h4 {
    font-size: 12px;
    width: 100%;
}

.interests {
    display: flex;
    flex-wrap: wrap;
}

.interests div {
    width: 100%;
    margin: 10px 0px;
}

.profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px 0px;

}

.register form div.file input {
    width: 90%;
    margin: 10px 0px;
    font-size: 10px;
}

.boton_enviar:hover {
    background-color: #0022AA;
    color: white;
    border-radius: 30px;
    appearance: button-bevel;
    }

 .boton_reset:hover {
    background-color: #7F1734;
    color: white;
    border-radius: 30px;
    appearance: button-bevel;
    }

main section article i:hover {
    transform:rotate(-90deg) ;
}

main section article:hover .descripcion {
    visibility: visible;
    transition: all 1s ease-in;
    margin: 10px 0px;
}

main section article:hover {
    box-shadow : 0px 0px 10px rgb(100,100,100);
} 

footer{
    background-color: #ebebeb;
    color:#666;
    justify-content: space-around;
    margin: auto;
    flex-direction: column;
}

footer div {
    padding:10px 0px;
}

footer div i {
    color: blue;
    font-size: 30px;
}

.detalle {
    font-size: 12px;
}


footer div.detalle p {
    font-size: 10px;
    width: 80%;
    margin: auto;
    justify-content: center;

}

footer .pie{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

footer div i:hover {
    color: #39b54a;
}

footer p {
    font-size: 10px;
}



/*tablets*/
@media (min-width: 361px) {
    .descripcion{
        visibility: visible;
        display: flex;
        font-size: 14px;

    }


    main section div.productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ultima-visita h2, .ofertas h2 {
        margin: 10px 0px;
    }

    .productos article {
        width: 45%;
    }

    .top-header {
        flex-wrap: nowrap;
    }

    nav ul.navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 0.5;
    }

    nav ul.log {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 0.5;
    }

    main section article {
        box-shadow : 0px 0px 10px rgb(100,100,100);
    }

    .file {
        width: 70%;
        border-radius: 30px;
        appearance: button-bevel;
    }

    footer {
        flex-direction: row;
    }

    footer div.detalle p {
        font-size: 14px;
        width: 60%;
    }

}



/*desktop*/
@media (min-width: 769px) {
    main {
        padding: 2%;
    }

    main section article {
        box-shadow : 0px 0px 10px rgb(100,100,100);
    }

    main section article i {
        left: 80%;
    }

    .productos article {
        width: 22%;
    }

    .burger-menu i {
        visibility: hidden;
        display: none;
    }

    .menu{
        display: flex;
        padding: 2%;
    }


    header ul li {
        padding: 0px;
    }

    header div.logo {
        width: 30%;
    }

    .ultima-visita h2, .ofertas h2 {
        font-size: 16px;
    }

    .precio {
        font-size: 14px;
    }

    .desc {
        font-size: 12px;
        display: inline;
    }

    .descripcion {
        font-size: 10px;
    }


    .form {
        width: 30%;
    }

    .submit {
        width: 30%;
    }



    footer .pie {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .pie article {
        width: 30%;
    }

    footer div.detalle p {
        font-size: 9px;
    }

    .detalle h3{
        font-size: 13px;
    }

}