*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

.top-header {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.form {
    width: 50%;
    display: flex;
}

header {
    background-color: #EAC926;
}

header div.logo {
    width: 50%;
    padding: 10px;
    max-width: 300px;
}

.input {
    width: 80%;
}

header .form .input{
    font-size:13px;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.menu {
    font-size: 12px;
    display: none;
    width: 100%;
}

header ul li {
    list-style-type: none;
    margin: 10px;
    padding: 2%;
}

header ul li a {
    color: #000;
}

p{
    font-size: 12px;
}

.valor{
    display: flex;
}

.precio {
    font-size: 18px;
    flex-grow: 0.3;
    padding: 5px;
}

.desc {
    font-size: 16px;
    flex-grow: 0.7;
    padding: 5px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ultima-visita {
    font-size: 24px;
}

.ofertas {
    font-size: 24px;
}

.descripcion {
    font-size: 16px;
}


.cuotas {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #0044AA ;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

footer{
    background-color: #ebebeb;
    color:#666;
}

.pie{
    text-align: center;
}

.descripcion {
    font-size: 18px;
    color: #666;
    display: none;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin:0 auto;
    padding: 5%;
}

main section article {
    margin: 10px 0px;
    background-color: #fff;
}

main section article img {
    width: 100%;
}

main section article i, .desc{
    color: #39b54a;
}

main section article i {
    display: flex;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left:90%;
    top: -30px;
}

.articulo {
    border: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}




/*tablets*/
@media (min-width: 361px) {
    .descripcion{
        visibility: visible;
        display: block;
        font-size: 16px;
    }

    .articulo {
        display: block;
    }

    main section div.productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.productos article {
        width: 45%;
    }

    .top-header {
        flex-wrap: nowrap;
    }

    .menu{
        display: flex;
    }

    nav ul.navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 0.5;
    }

    nav ul.login {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 0.5;
    }

    .burger-menu i {
        visibility: hidden;
    }

    main section article {
        box-shadow : 0px 0px 10px rgb(100,100,100);
    }

}



/*desktop*/
@media (min-width: 769px) {
    main {
        padding: 2%;
    }

    main section article {
        box-shadow : 0px 0px 10px rgb(100,100,100);
    }


    main section div.productos article {
        width: 22%;
    }

    .descripcion{
        visibility: visible;
    }

    .menu{
        visibility: visible;
    }

    .burger-menu i {
        visibility: hidden;
    }

    header div.logo {
        width: 30%;
    }

    .form {
        width: 30%;
    }

    .submit {
        width: 30%;
    }

}